.ca-row-3-container {
  padding: 0 15px;
  max-width: 100%;
  width: 1100px;
  float: none;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ca-row-3-content-text h2 {
  color: #000;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 28px;
  line-height: 33px;
}

.ca-row-3-content-text p {
  font-size: 16px;
  line-height: 29px;
  color: #818181;
}

.ca-row-3-content {
  display: flex;
  align-items: center;
  gap: 25px;
  /* flex-direction: row-reverse; */
}

.ca-row-3-img img {
  width: 520px;
}
