.join-team-row {
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100%;
  grid-gap: 10px;
}

.join-team-container {
  padding: 70px 0px;
  max-width: 100%;
  float: none;
  visibility: visible;
  width: 100%;
}

.join-team-content {
  display: flex;
  gap: 100px;
}

.join-team-title {
  font-size: 32px;
  margin-bottom: 15px;
  color: #4a4a4a;
  line-height: 1.1em;
  font-weight: 700;
  padding-right: 200px;
}

.join-team-text div {
  background-color: #1d63f5;
  height: 8px;
  width: 90px;
  margin-bottom: 25px;
}

.join-team-text p {
  font-size: 16px;
  line-height: 29px;
  color: #818181;
  font-weight: 400;
}

.join-team-button {
  width: 1000px;
  font-size: 30px;
  border-radius: 15px;
  color: #fff;
  background-color: #1d63f5;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 20px 0px 20px 0px;
  transition: all 0.3s ease-in-out;
}

.join-team-button:hover {
  background: #f7f7f7;
  color: #1d63f5;
  border: 1px solid #1d63f5;
}

@media only screen and (max-width: 430px) {
  .join-team-row {
    grid-template-columns: 10% 80% 10%;
    grid-gap: 0px;
    padding: 30px 0;
  }

  .join-team-title {
    width: 50%;
    font-size: 1.25em;
  }

  .join-team-content {
    display: block;
  }

  .join-team-container {
    padding: 30px 0;
  }

  .join-team-text p {
    font-size: 0.9em;
    line-height: 20px;
    color: #818181;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .join-team-button {
    font-size: 0.75em;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
}
