.ca-row-3-container {
  padding: 0 15px;
  max-width: 100%;
  width: 100%;
  /* float: none;
  margin: 0 auto; */
  margin-bottom: 20px;
}

.ca-row-3-content-text h2 {
  color: #000;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 28px;
  line-height: 33px;
}

.ca-row-3-content-text p {
  font-size: 16px;
  line-height: 29px;
  color: #818181;
}

.true-story-right-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.ca-row-3-img {
  width: 50%;
}

.ca-row-3-img img {
  width: 520px;
}

@media only screen and (max-width: 430px) {
  .true-story-right-content {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .true-story-left-content-text h2 {
    font-size: 1em;
  }

  .ca-row-3-content-text p {
    font-size: 16px;
    line-height: 29px;
    color: #818181;
  }
}
