.few-examples {
  background-color: #111013;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100%;
  grid-gap: 10px;
}

.few-examples-title {
  line-height: 1.1em;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
  padding: 0px 15px;
  visibility: visible;
}

.few-examples-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

figure {
  display: block;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 350px;
}

/* Zoom In #1 */
.row-7 figure img {
  width: 350px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.row-7 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.few-example-item-title {
  color: #fff;
  font-size: 26px;
  line-height: 32px;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 5px;
}

.few-example-item-subtitle {
  font-size: 12px;
  line-height: 1.3em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 430px) {
  .few-examples {
    background-color: #111013;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-rows: 100%;
    grid-gap: 0px;
  }

  .few-examples-container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }

  .few-examples-title {
    padding-top: 20px;
    font-size: 1.5em;
  }

  .few-example-item-title {
    font-size: 1.25em;
  }

  .few-example-item-subtitle {
    font-size: 0.75em;
    padding-bottom: 13px;
  }

  .few-examples figure img {
    width: 100%;
  }

  figure {
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 210px;
  }

  .few-example-item {
    padding: 0 0 20px 0;
  }
}
