* {
  font-family: Arial, Helvetica, sans-serif;
}

.readings {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
}

.readings-content-item img {
  width: 150%;
  filter: brightness(50%);
}

.readings-item-title {
  text-align: left;
  color: #fff;
  font-size: 28px;
  line-height: 35px;
  font-style: normal;
  margin: 70px 97px 5px 97px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.row-11-description {
  text-align: left;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 140px 97px 5px 97px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50px;
  left: 10px;
}

.row-11-description.short {
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-11-description:hover {
  color: rgba(255, 255, 255, 0.6);
}

.readings-item-text {
  text-align: left;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 240px 97px 5px 97px;
  position: absolute;
  top: 50px;
  left: 10px;
  color: white;
}

.readings-item-text:hover {
  color: aqua;
}

.readings-content-item figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  position: fixed;
}
.readings-content-item figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  filter: brightness(20%);
}

.readings-content-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}

.finding-tech-talent {
  background-image: url("../../../../assets/organisms/home/homeRow_11/BS11a1.png");
}

.finding-talent {
  background-image: url("../../../../assets/organisms/home/homeRow_11/BS11a2.png");
}

.optimize {
  background-image: url("../../../../assets/organisms/home/homeRow_11/BS11a3.png");
}

@media only screen and (max-width: 430px) {
  .readings {
    background-color: #262626;
    display: grid;
    justify-content: space-between;
  }
  .readings-item-title {
    text-align: left;
    color: #fff;
    font-size: 1.25em;
    line-height: 1.25em;
    margin: 0;
    padding: 10px 10px 10px 10px;
  }

  .readings-item-text {
    margin: 0px;
    color: white;
    position: relative;
    padding: 15px 7px 5px;
  }

  .row-11-description {
    text-align: left;
    font-size: 0.75em;
    line-height: 15px;
    letter-spacing: 1.5px;
    padding: 15px 20px 0px 20px;
    margin: 0;
    top: 80px;
    left: 20px;
    width: 85%;
    position: relative;
  }

  .readings-content-item {
    position: relative;
    display: inline-block;
    height: 250px;
  }

  .readings-content-item img {
    height: 100%;
  }

  .readings-content-item p {
    position: relative;
    padding: 20px 0;
  }

  .row-11-description.short {
    height: 27px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
  }
}
