* {
  font-family: Arial, Helvetica, sans-serif;
}

.row-3 {
  display: grid;
  grid-template-columns: auto auto;
  background-image: url("../../../../assets/organisms/home/homeRow_3/home-5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 36em;
}

.row-3-container {
  padding: 100px 0px;
  max-width: 100%;
  width: 550px;
  visibility: visible;
}

.row-3-text-container {
  font-size: 25px;
  line-height: 1.7em;
  letter-spacing: -0.3px;
  color: #555;
}

.row-3-img {
  max-width: 100%;
  border: 0;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 430px) {
  .row-3 {
    height: 21em;
    background-size: 380px 320px;
    background-repeat: space;
  }

  .row-3-img {
    width: 20px;
    height: 25px;
  }

  .row-3-container {
    padding: 30px 0;
  }

  .row-3-text-container {
    font-size: 1.15em;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    color: dimgray;
    padding: 0px 0;
  }
}
