.row-9 {
    background-color: #fafafa;
}

.row-9-container {
    padding: 70px 15px;
    max-width: 100%;
    width: 1100px;
    float: none;
    margin: 0px auto;
}

.row-9-title {
    color: #000;
    line-height: 1.1em;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 350;
}

.row-9-images-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
}

.row-9-images-container img {
    width: 200px;
    text-align: center;
}


/*efecto hover*/
.row-9-img-1{
    filter: grayscale(1);
}
.row-9-img-1:hover{
    filter: grayscale(0);
}

.row-9-img-2{
    filter: grayscale(1);
}
.row-9-img-2:hover{
    filter: grayscale(0);
}

.row-9-img-3{
    filter: grayscale(1);
}
.row-9-img-3:hover{
    filter: grayscale(0);
}

.row-9-img-4{
    filter: grayscale(1);
}
.row-9-img-4:hover{
    filter: grayscale(0);
}

.row-9-img-5{
    filter: grayscale(1);
}
.row-9-img-5:hover{
    filter: grayscale(0);
}

.row-9-img-6{
    filter: grayscale(1);
}
.row-9-img-6:hover{
    filter: grayscale(0);
}

.row-9-img-7{
    filter: grayscale(1);
}
.row-9-img-7:hover{
    filter: grayscale(0);
}

.row-9-img-8{
    filter: grayscale(1);
}
.row-9-img-8:hover{
    filter: grayscale(0);
}

.row-9-img-9{
    filter: grayscale(1);
}
.row-9-img-9:hover{
    filter: grayscale(0);
}

.row-9-img-10{
    filter: grayscale(1);
}
.row-9-img-10:hover{
    filter: grayscale(0);
}

.row-9-img-11{
    filter: grayscale(1);
}
.row-9-img-11:hover{
    filter: grayscale(0);
}

.row-9-img-12{
    filter: grayscale(1);
}
.row-9-img-12:hover{
    filter: grayscale(0);
}

.row-9-img-13{
    filter: grayscale(1);
}
.row-9-img-13:hover{
    filter: grayscale(0);
}

.row-9-img-14{
    filter: grayscale(1);
}
.row-9-img-14:hover{
    filter: grayscale(0);
}

.row-9-img-15{
    filter: grayscale(1);
}
.row-9-img-15:hover{
    filter: grayscale(0);
}

.row-9-img-16{
    filter: grayscale(1);
}
.row-9-img-16:hover{
    filter: grayscale(0);
}

.row-9-img-17{
    filter: grayscale(1);
}
.row-9-img-17:hover{
    filter: grayscale(0);
}

.row-9-img-18{
    filter: grayscale(1);
}
.row-9-img-18:hover{
    filter: grayscale(0);
}

.row-9-img-19{
    filter: grayscale(1);
}
.row-9-img-19:hover{
    filter: grayscale(0);
}

.row-9-img-20{
    filter: grayscale(1);
}
.row-9-img-20:hover{
    filter: grayscale(0);
}


