* {
  font-family: Arial, Helvetica, sans-serif;
}

.our-locations {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100%;
  grid-gap: 10px;
}

.our-locations-container {
  display: grid;
  grid-template-rows: auto;
  padding: 70px 0px;
  width: 100%;
  float: none;
}

.our-locations-title {
  color: #000;
  line-height: 1.1em;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 350;
}

.our-locations-column {
  display: grid;
  grid-template-columns: auto auto;
}

.our-locations-column-container {
  text-align: center;
  padding: 15px;
}

.our-locations-column-container img {
  width: 150px;
}

.our-locations-column-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 430px) {
  .our-locations {
    grid-template-columns: 10% 80% 10%;
    grid-gap: 0px;
  }

  .our-locations-container {
    display: grid;
    grid-template-columns: 100%;
    float: none;
    padding: 20px 0;
  }

  .our-locations-title {
    font-size: 1em;
    margin-bottom: 0px;
    font-weight: 600;
  }

  .our-locations-column {
    grid-template-columns: 50% 50%;
  }

  .our-locations-column-container {
    padding-top: 30px 0 0 0;
  }

  .our-locations-column-container img {
    width: 80px;
    height: 80px;
    padding: 20px 0 0 0 !important;
  }

  .our-locations-column-title {
    margin: 10px 0 0 0 !important;
  }

  .our-locations-container .s-row-2-line {
    margin-top: 10px;
  }
}
