.work-with-us-row {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100%;
  grid-gap: 10px;
}

.cp-row-7 {
  background-color: #fafafa;
}

.work-with-us-container {
  padding: 70px 0px;
  max-width: 100%;
  width: 100%;
  float: none;
  visibility: visible;
}

.rows-title {
  text-align: center;
  margin-bottom: 70px;
  visibility: visible;
}

.rows-title h3 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #000;
  line-height: 1.1em;
  font-weight: 500;
}
.rows-title-line {
  background-color: #1d63f5;
  height: 4px;
  width: 150px;
  margin: 0 auto;
}

.work-with-us-content {
  display: flex;
}

.cc-008ce2 {
  color: #008ce2;
}
.cc-f9035c {
  color: #f9035c;
}
.cc-ffc10d {
  color: #ffc10d;
}
.cc-ff6315 {
  color: #ff6315;
}
.cc-85aa11 {
  color: #85aa11;
}

.work-with-us-colum {
  width: 20%;
  text-align: center;
  padding: 15px;
}

.work-with-us-colum img {
  width: 80px;
  margin-bottom: 15px;
  max-width: 100%;
}

.work-with-us-colum h3 {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: -1px;
  font-weight: 400;
}

.work-with-us-colum p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  margin-top: 16px;
  color: #5d5d5d;
}

@media only screen and (max-width: 430px) {
  .work-with-us-row {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100%;
    grid-gap: 0px;
  }

  .rows-title div {
    height: 4px;
    width: 150px;
    margin: 0 auto;
  }

  .rows-title h3 {
    font-size: 1em;
    margin-bottom: 15px;
    color: #000;
    line-height: 1.1em;
    font-weight: 600;
  }

  .work-with-us-content {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .work-with-us-colum {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 2;
    min-width: 100px;
  }

  .work-with-us-title {
    font-size: 1em !important;
    min-height: 50px !important;
    font-weight: 400;
    line-height: 15px;
  }

  .work-with-us-colum p {
    font-size: 0.75em;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .work-with-us-container {
    padding: 50px 0px;
  }
}
