@font-face {
  font-family: "Monserrat";
  font-weight: 900;
  src: local("Monserrat"),
    url(../../../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf)
      format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

.header-1 {
  background-color: transparent;
  z-index: 5000;
  height: 80px;
  position: relative;
  display: flex;
  top: 0;
  font-family: Monserrat;
}

.contain-header {
  display: flex;
  grid-template-columns: auto auto;
  align-items: center;
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  width: 1100px;
  float: none;
  margin: 0 auto;
  padding-bottom: 2px;
  min-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  font-family: Monserrat;
}

.contain-header.active {
  transition-property: all;
  background: #f3f8f1;
  transition-duration: 1s;
}
