* {
  margin: 0;
  padding: 0;
}

.header-1 {
  background-color: transparent;
  z-index: 5000;
  height: 80px;
  position: relative;
  display: flex;
  top: 0;
  font-family: Monserrat;
}

.contain-header {
  position: fixed;
  max-width: 100%;
  float: none;
  margin: 0 auto;
  min-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  font-family: Monserrat;
}

.contain-header.active {
  transition-property: all;
  background: #111013;
  transition-duration: 1s;
}

.content-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-columns {
  display: "grid";
  grid-template-columns: "15% 70% 15%";
  grid-template-rows: "100%";
  grid-gap: "10px";
}

#my-header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100%;
  grid-gap: 10px;
}

#grid-row {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100%;
  grid-gap: 10px;
}

@media only screen and (max-width: 430px) {
  #my-header {
    display: grid;
    grid-template-columns: 0.5% 91.5% 0.5%;
    grid-template-rows: 100%;
    grid-gap: 10px;
  }

  #grid-row {
    display: grid;
    grid-template-columns: 2% 91.5% 2%;
    grid-template-rows: 100%;
    grid-gap: 10px;
  }
}
