.icon-column-contain {
margin-top: 80px;
}

.imagen-logo-footer img {
    width: 300px;
}

.name-logo-footer {
   color: rgb(180, 180, 180); 
   font-family:Arial, Helvetica, sans-serif ;
   margin-top: 20px;
}


.contry-logo-footer {
    color: rgb(180, 180, 180); 
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 170px;
}