.reference-column-container {
    margin-top: 80px;
}


.reference-column-container {
    color: white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif ;
}



/*column-information-social-red*/
  
.column-footer-4 {
    margin-right: 100px;
    width: 110%;
  }
  
  .info-company-footer {
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: auto;
  }
  
  .type-contact-text {
    font-size: 23px;
    line-height: 1.2em;
    color: #fff;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-rendering: optimizelegibility;
    margin-bottom: 20px;
  }
  
  .number-tel-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -1px;
    color: #fff;
    text-decoration: none;
  
  }
  
  .number-tel-text:hover {
    color: #1d63f5;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .3s ease-in-out;
  }
  
  .email-text {
    color: #fff;
    font-size: 14px;
    transition: all .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    text-rendering: optimizelegibility;
    margin-bottom: 20px;
    line-height: 33px;
  }
  
  .email-text:hover {
    color: #1d63f5;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .3s ease-in-out;
  }
  
  
  .social-red{
    color: #fff;
  }