
.get-an-estimate-row {
    padding: 0 15px;
    max-width: 100%;
    width: 1100px;
    float: none;
    margin: 0 auto;
}


.get-an-estimate-row-content {
    display: flex;
}

.error {
    border: 2px solid red;
  }
  
  .error-message {
    color: red;
  }

