.get-an-estimate-row {
  max-width: 100%;
  display: flex;
  float: none;
  margin: 0 auto;
}

.get-an-estimate-row-content {
  justify-content: center;
  display: flex;
  background-color: #013198;
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
}
