.logo-header {
  width: 220px;
  margin-right: 0px;
  margin-top: 20px;
}

@media only screen and (max-width: 430px) {
  .logo-header {
    width: 200px;
    margin-right: 0px;
    margin-top: 0px;
  }
}
