.text-navbar {
  display: "grid";
  grid-template-columns: "15% 70% 15%";
  grid-template-rows: "100%";
  grid-gap: "10px";
}

.navbar-link {
  color: #fafafa;
  text-decoration: none;
  font-weight: 750;
  white-space: normal;
  font-size: 13px;
  line-height: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  transition: all 0.3s ease-in-out;
}

.testing-style-a {
  color: #fafafa;
  text-decoration: none;
  font-weight: 750;
  white-space: normal;
  font-size: 13px;
  line-height: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  transition: all 0.3s ease-in-out;
  border-bottom: solid #1d63f5;
  padding-bottom: 2px;
}

.testing-style-a:hover {
  color: #1d63f5;
}

nav ul {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

div ul li {
  list-style: none;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 9px;
  font-weight: 750; /*negrita*/
  align-content: center;
  width: max-content;
}

.border-solid {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 2px #1d63f5;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 13px;
}

.navbar-link:hover {
  color: #1d63f5;
}

.border-solid:hover {
  background: #1d63f5;
  color: #fff;
  text-shadow: none;
  border: solid 2px;
}
