.s-row-1 {
    width: 100%;
    height: 100%;   
    background-repeat: repeat;
    background-image: url("../../../../assets//organisms//services//servicesRow_1//tit-unique-model-2.png");
    background-size: cover;
    background-position: center; 
 }
 
 .s-row-1-container {
     max-width: 100%;
     width: 1100px;
     margin: 0 auto;
     padding: 160px 15px 90px 15px;
     display: flex;
     justify-content: space-between;
     display: flex;
 }
 
 
 .s-row-1-container-left {
     width: 60%;
 }
 
 .s-row-1-container-left h1 {
     font-size: 35px;
     line-height: 66px;
     color: #fff;
     font-weight: 400;
     margin-bottom: 20px;
 }
 
 .s-row-1-container-right {
     width: 40%;     
 }
 
 .s-row-1-container-right h2 {
     font-size: 20px;
     color: #fff;
     line-height: 1.5em;
     margin: 0;
     font-weight: 600;     
 }